<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login Form Tutorial</title>


<%- include('./partials/extensions/auth.style.ejs') %>
	</head>
	<body>
		<div class="login-form">
			 <h3><%= title %></h3>
			 <p> </p>
			<form action="auth" method="POST">
				<input type="email" name="email" placeholder="Email" required>
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit">
			</form>
		</div>
	</body>
</html>