<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('./partials/extensions/newacc.head.ejs') %>
	<%- include('./partials/extensions/newacc.style.ejs') %>

</head>


<body onload="buttonDisabler()">
<div class="signup-form">
    <form action="/newacc" method="post">
		<h2>Create account</h2>
		<p class="hint-text"><%= remark %></p>
        <div class="form-group">
			<div class="row">
				<div class="col-xs-6"><input type="text" class="form-control" name="firstname" placeholder="First Name" required="required"></div>
				<div class="col-xs-6"><input type="text" class="form-control" name="lastname" placeholder="Last Name" required="required"></div>
			</div>        	
        </div>
        <div class="form-group">
        	<input type="email" class="form-control" name="email" placeholder="Email" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="password" id="psswrd" placeholder="Password" required="required" oninput="onChange()" >
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" id="confirm_psswrd"  required="required" oninput="onChange()">
        </div>        
		<div class="form-group">
            <button type="submit" id="Button" class="btn btn-success btn-lg btn-block">Submit</button>
        </div>
    </form>
	<div class="text-center">Already have an account? <a href="/auth">Sign in</a></div>
</div>

<footer>
	<%- include('./partials/templates/footer.ejs')%>
</footer>
<script type="text/javascript">
	// disable the submit button when loading form
	function buttonDisabler (){
		document.getElementById("Button").disabled = true;
	}

	// enable submit button when password and confirm_password are equal
	var onChange = function() {
		var password = document.getElementById('psswrd').value;
		var confirm_password = document.getElementById('confirm_psswrd').value;

		  if (password == confirm_password){
		  		document.getElementById("Button").disabled = false;
		  }else{
		  		document.getElementById("Button").disabled = true;
		  }
		}

</script>
</body>
</html>